.crafts-container {
  height: 200vh;
  background-color: #000000;
  opacity: 0;
}
.landing-container,
.crafts-container {
  background-color: #fefefe;
  padding-top: 1rem;
}
.crafts-container {
  background-color: #000000;
  opacity: 0;
}
.crafts-header {
  position: relative;
  color: white;
}
.crafts-header::before {
  content: "";
  background-color: white;
  height: 2px;
  width: 1.2rem;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
